.background {
    background: var(--black);
    min-height: 100vh;
    color: var(--white);
    padding-bottom: 5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem;
}

.title {
    color: var(--white);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    margin: 0 3rem 3rem 3rem;
    margin-top: 3rem;
}

.favoritesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.favoriteItem {
    position: relative;
    transition: transform 0.3s ease;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

.movieCover {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 0;
    padding-bottom: 150%;
}

.coverImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.removeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    color: var(--white);
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.emptyState {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 18px;
    color: var(--grey);
    text-align: center;
}