.background {
    background-image: url("../assets/loginbackground.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: zoom 2s;
}

@keyframes zoom {
    from {
        transform: scale(0.8); 
        opacity: 0.3; 
      }
      to {
        transform: scale(1); 
        opacity: 1;
      }
}

.logo {
    height: auto;
    width: 12rem;
    margin-top: 29.75rem;
}

.paragraph {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-content);
    font-size: 1rem;
    font-weight: 300;
    line-height: normal;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-wrap: wrap;
    cursor: default;
}

.getStarted {
    margin-top: 0.5rem;
    margin-bottom: 1.4rem;
    width: 20rem;
    height: 3rem;
    border-radius: 16px;
    background: var(--gradient);
    color: var(--white);
    text-align: center;
    font-family: var(--font-random);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: none;

}

.logIn {
    margin-bottom: 7.438rem;
    border-radius: 16px;
    background: transparent;
    color: var(--white);
    width: 20rem;
    height: 2.8rem;
    text-align: center;
    font-family: var(--font-random);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: 1px solid var(--blue);
}