.divNavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ulNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    background-color: var(--grey);
    border-radius: 22px;
    list-style-type: none;
    width: 19rem;
    height: 4rem;
}

.icoNavBar {
    background-color: transparent;
    border: none;
    color: #383838;
    cursor: pointer;

    outline: none;
    transition: all ease 0.1s;
}

.selected {
    color: var(--white);

}