.divNavBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ulNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    background-color: var(--grey);
    border-radius: 12px;
    list-style-type: none;
    width: 22rem;
    height: 4rem;
}

.icoNavBar {
    background-color: transparent;
    border: none;
    color: #383838;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: none;
    transition: all ease 0.1s;

}

.pNavBar {
    margin: 0;
    font-size: 0.8rem;
    color: #383838;
    visibility: hidden;
}

.selected {
    color: var(--white);
    visibility: visible;

}

.liNavBar {
    display: flex;
    flex-direction: column;
}