:root{
    --white: #FAFAFA;
    --grey: #5B5B5B;
    --black: linear-gradient(0deg, #151414 0%, #242424 100%);
    --full-black: #151414;
    --blue: #2665ED;
    --red: linear-gradient(90deg, #E31010 0%, #9B0101 99.99%);
    --gradient: linear-gradient(90deg, #2665ED 0%, #163A87 100%);

    --font-title: 'Inter';
    --font-content: 'Geist';
    --font-random: 'Geologica';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3a3a3a;
    color: var(--white);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button{
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 1.5rem;
    max-width: 450px;
    max-height: 100vh;
    margin: 0 auto;
}